<main>
  <!-- contact -->
  <div class="container">
    <div class="row">
      <div class="col-12 center">
        <h2 class="page-title">Calculator</h2>

        <div class="input-wrapper">
          <input type="text" id="result" style="text-align: right;" value="0">
        </div>

        <div class="button-wrapper">
          <input class="btn btn-outline-dark btn-lg" type="button" value="" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="AC" onclick="edit(this)">
        </div>
        <div class="button-wrapper">
          <input class="btn btn-outline-dark btn-lg" type="button" value="7" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="8" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="9" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="/" onclick="edit(this)">
        </div>
        <div class="button-wrapper">
          <input class="btn btn-outline-dark btn-lg" type="button" value="4" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="5" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="6" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="-" onclick="edit(this)">
        </div>
        <div class="button-wrapper">
          <input class="btn btn-outline-dark btn-lg" type="button" value="1" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="2" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="3" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="+" onclick="edit(this)">
        </div>
        <div class="button-wrapper">
          <input class="btn btn-outline-dark btn-lg" type="button" value="0" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="." onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="*" onclick="edit(this)">
          <input class="btn btn-outline-dark btn-lg" type="button" value="=" onclick="calc()">
        </div>



      </div><!-- //col-12 -->
    </div><!-- //row -->
  </div><!-- //container -->
</main>

<script language="javascript" type="text/javascript">
  var result = document.getElementById("result");

  // function edit(elem) {
  //   result.value = result.value + elem.value;
  // }

  function edit(elem) {
    var edited = elem.value;

    if (edited == '=') {
      // 計算する
      result.value = Function(result.value);

    } else if (edited == 'AC') {
      // 全てクリア
      result.value = '0';

    } else {
      if (result.value == '0') {
        result.value = edited;
      } else {
        result.value += edited;
      }
    }
  }

  function calc() {
    result.value = new Function("return " + result.value)();
  }
</script>