<main>
  <!-- contact -->
  <div class="container">
    <div class="row">

      <div class="col-12 contact">

        <div class="center" id="">
          <h2 class="page-title">Contact</h2>
        </div>
        <div class="contact-form">
          <form action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSevXwWmD03TmUr1arvAZqXNAZEVPM-mTSBIuRAGH4zYWRoy2g/formResponse">

            <div class="contact-box center">
              <p>下記フォームより、お気軽にお問い合わせ下さい</p>
            </div>

            <div class="contact-box">
              <input id="name" type="text" name="entry.1321842997" placeholder="NAME" required />
            </div>

            <div class="contact-box">
              <input id="email" type="text" name="entry.1667281010" placeholder="EMAIL" required />
            </div>

            <div class="contact-box">
              <textarea id="msg" name="entry.1612388823" placeholder="MESSAGE" required></textarea>
              <div class="contact-btn">
                <button class="btn" type="submit" name="button" value="送信"><i class="fa fa-envelope-o fa-fw"></i></button>
              </div>
            </div>
          </form>
        </div>

      </div><!-- //contact -->
    </div><!-- //row -->
  </div><!-- //container -->
</main>